.container__chat {
  height: 100vh; /* toda la pantalla */
  display: flex;
  flex-direction: column;
}

.message__output {
  height: 80% !important;
  min-height:  80% !important;
  padding: 10px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.message__output::-webkit-scrollbar {
  width: 10px;
}

.message__output::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.message__output::-webkit-scrollbar-thumb {
  background: var(--gradient-warm);
  border-radius: 10px;
}

.message__output::-webkit-scrollbar-thumb:hover {
  filter: brightness(1.1);
}
.message__output {
  scrollbar-width: thin;
  scrollbar-color: #FF702B #f1f1f1; /* thumb y track */
}
.message_content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
}

.message_time {
  font-size: 0.8rem;
  color: #777;
  white-space: nowrap;
}

.message_sent .message_content {
  background-color: #d1ffd6;
  border-radius: 10px;
  padding: 6px 10px;
}

.message_received .message_content {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 6px 10px;
}
